html,
body {
  font-family: "Roboto", sans-serif;
  --bs-list-group-bg: none;
  background-color: #000;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body.modal-open {
  padding-right: 0 !important;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oranienbaum", serif;
}
.wrapper {
  min-height: 100%;
}
.navbar {
  font-family: "Oranienbaum", serif;
  --bs-bg-opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  &_scrolled {
    position: fixed;
    animation-name: fadeInUp;
    animation-duration: 1s;
    --bs-bg-opacity: 1;
    background-color: #000 !important;
  }
}

// Плавное появление navbar
@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.list-group {
  --bs-list-group-bg: none;
  --bs-list-group-border-width: none;
  --bs-list-group-border-radius: none;
}
.list-group-item {
  --bs-list-group-item-padding-x: none;
}
.nav-item {
  font-size: 20px;
}
.nav-icon {
  align-items: center;
  margin-right: 60px;
}
.icon-nav {
  background-position: 0 0;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}
.icon-instagram {
  background-image: url(../img/icons/1438557260_inst_4.png);
}
.icon-facebook {
  background-image: url(../img/icons/1438557245_ab_4.png);
}
.icon-vk {
  background-image: url(../img/icons/1438423986_vk_3.png);
}
@media (max-width: 991px) {
  .navbar > .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-group-contact {
    flex-direction: column;
    & > :not(:first-child) {
      margin-top: 10px;
    }
  }
  .navbar {
    &_scrolled {
      display: none;
    }
  }
}
.main-block {
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
}
$logoWidth: 212px;
$logoHight: calc($logoWidth / ($logoWidth / 147px));

.title-logo {
  background-image: url(../img/main/logo-new.png);
  width: $logoWidth;
  height: $logoHight;
  margin-top: 30vh;
}
.main-block-text h1 {
  font-size: 20px;
  margin-top: 40px;
}
.main-block-text h2 {
  font-size: 18px;
  color: #a38551;
}
.main-block-title {
  display: inline-block;
}
.main-block-inner {
  position: relative;
  height: 100%;
}
.main-block {
  position: relative;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-block-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 80px;
}
.main-block-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 991px) {
  #navbar .container {
    gap: 30px;
  }
  .list-group-contact {
    gap: 30px;
  }
  .main-block-inner {
    display: flex;
    flex-direction: column;
  }
  .main-block-title {
    position: inherit;
    margin-top: 500px;
    align-self: center;
  }
  .bg-img {
    height: 480px;
    width: auto;
    position: absolute;
    right: -180px;
    margin-top: -30px;
  }
  .title-logo {
    margin-top: 0;
  }
  .contact-item > *:not(:first-child) {
    margin-top: 10px;
  }
  .nav-icon > *:not(:first-child) {
    margin-left: 10px;
  }
  .main-block-img {
    top: 0;
  }
}
@media (max-width: 430px) {
  .bg-img {
    right: -280px;
  }
}
#style-help {
  position: relative;
  margin-top: -60px;
}
#style-inner {
  background-color: #fff;
  overflow: hidden;
}
.style-text {
  padding: 0 160px;
}

.style-row {
  position: relative;
  // overflow: hidden;
  #ribbon-container {
    position: absolute;
    margin-left: -12px;
    top: -59px;
    left: -50px;
    width: 277px;
    height: 267px;
    display: flex;
    align-items: center;
    transform: rotate(315deg);
    #ribbon {
      -webkit-box-shadow: -5px -5px 17px -2px rgba(34, 60, 80, 0.6) inset;
      -moz-box-shadow: -5px -5px 17px -2px rgba(34, 60, 80, 0.6) inset;
      box-shadow: -5px -5px 17px -2px rgba(34, 60, 80, 0.6) inset;
      width: 100%;
      height: 30px;
      background-color: red;
      text-align: center;
      color: #fff;
    }
  }
}

@media (max-width: 991px) {
  #style-help {
    margin-top: 0;
  }
  .style-text {
    padding: 0 20px;
  }
}
@media (max-width: 991px) {
  .style-row #ribbon-container {
    display: none;
  }
}
#styile-img {
  margin-top: 20px;
  width: 100%;
}
#container-how {
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
}
#how-inner {
  display: flex;
  flex-direction: column;
  & .col-8 {
    align-self: center;
  }
  & h2 {
    margin-bottom: 30px;
  }
  & p {
    line-height: 30px;
  }
}
@media (max-width: 991px) {
  #how-inner {
    & .col-8 {
      width: 90%;
    }
  }
}
#table-you-get {
  justify-content: center;
}
#you-get-inner {
  padding-top: 25px;
  background-color: #fff;
}
td {
  border: 2px solid #fdc200;
  height: 45px;
  vertical-align: top;
  line-height: 18px;
  padding-top: 10px;
}
#colored-row {
  background-color: #ffd100;
}
table {
  background-color: #fff000;
  font-weight: bold;
}
tbody > *:first-child {
  background-color: #ffd100;
  text-transform: uppercase;
}
tr > *:first-child {
  width: 40%;
  padding-left: 15px;
}
tr > *:not(:first-child) {
  text-align: center;
  width: 20%;
}
sub {
  line-height: 10px;
}
#fiat > * {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
}
@media (max-width: 520px) {
  #table-you-get {
    font-size: 12px;
    & .col-8 {
      width: 95%;
    }
  }
  td {
    line-height: 11px;
    & .btn-dark {
      font-size: 10px;
      padding: 2px 5px;
    }
  }
  tr > *:first-child {
    padding-left: 5px;
  }
  #td-buttons > * {
    padding-top: 11px;
  }
}
#what-to-wear {
  margin-top: 25px;
}
#packages-wrapper {
  background-color: #fff;
}
#packages-inner {
  padding-top: 55px;
  background-color: #fff;
}
.card {
  & .btn {
    & .icon-basket {
      position: relative;
      margin-left: -43px;
      visibility: hidden;
    }
    & .btn-order-text {
      display: inline-block;
      margin-left: 26px;
    }
  }
  height: 530px;
  margin-top: 25px;
  padding: 45px 35px;
  border: 3px solid #e8e8e8;
  border-radius: 0;
  & .package-signboard {
    font-size: 18px;
  }
  & .package-name {
    margin-top: 4px;
    font-size: 26px;
  }
  & .sing-term {
    padding-top: 30px;
    font-size: 20px;
  }
  & .term {
    font-size: 20px;
  }
  & .term-limit {
    padding-top: 15px;
    font-size: 18px;
  }
  & .limit {
    font-size: 18px;
  }
  & .btn-order {
    position: absolute;
    background-color: #ff0c3a;
    border-radius: 3px;
    height: 50px;
    bottom: 25px;
    width: 85%;
    margin: 0 auto;
    left: calc((100% / 2) - (85% / 2));
  }
  & .old-price {
    padding-top: 15px;
    font-size: 20px;
  }

  & .price {
    padding-top: 10px;
    font-size: 24px;
  }
  & .btn-order {
    margin-top: 30px;
  }
  .old-price::before {
    content: "";
    position: relative;
    left: calc(((100% - 70px) / 2));
    top: 16px;
    transform: rotate(170deg);
    display: block;
    border: 2px solid red;
    border-width: 2px;
    border-top: 2px;
    border-left: 10px;
    width: 70px;
  }
}
.card-row {
  margin-left: 0;
  margin-right: 0;
}
#packages-wrapper {
  & .row {
    margin: 0 5px;
    justify-content: space-around;
  }
  & h2 {
    padding-top: 45px;
  }
}
.card:hover {
  border: 3px solid #bfbfbf;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(34, 60, 80, 0.2),
    -4px 4px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 10px 2px rgba(34, 60, 80, 0.2),
    -4px 4px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 10px 2px rgba(34, 60, 80, 0.2),
    -4px 4px 10px 2px rgba(34, 60, 80, 0.2);
  & .btn {
    & .icon-basket {
      visibility: visible;
    }
  }
}

#how-it-happends-wrapper {
  background-color: #fff;
  padding-top: 45px;
  & > * {
    margin: 0 auto;
  }
}
.slide-how {
  padding-top: 45px;
  padding-right: 25px;
  display: flex;
  & img {
    width: 220px;
    height: auto;
  }
  & .description-how {
    margin-left: 45px;
    align-self: center;
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 529px) {
  h2 {
    text-align: center;
  }
  .slide-how {
    flex-direction: column;
    & img {
      margin: 0 auto;
    }
  }
}
.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
.slide-how {
  cursor: pointer;
}
.modal-body {
  & img {
    width: 100%;
  }
}
#container-footer {
  display: flex;
  flex-direction: column;
}
.footer-btn-up {
  align-items: center;
  margin: 0 auto;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 0;
  font-size: 12px;
}
.footer-link {
  font-size: 12px;
  line-height: 24px;
}